*{
    margin: 0;
    padding: 0;
    widht: 100%;
}
h2{
   margin: 3% 0;
}
#container1{
    text-align: center;
}
#container1 input{
    margin-left: 10px;
}
#errorMess{
    color: red;

}


li{

    width: 200px;
    height: 200px;
    display:inline-block;

}
li:nth-child(2n){
    background-color:#778beb;
   
}
li:nth-child(2n+1){
  background-color: #f8a5c2;
}
span{

    width: 200px;
    height: 200px;   
    display:inline-block;
 
    
}
span:nth-child(2n){
    background-color: #778beb;
   
}
span:nth-child(2n+1){
  background-color:#f8a5c2;
}
