@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
  }
body{
    font-family: Helvetica,sans-serif;  
    box-sizing: border-box;
    font-size: 14px;
}
h1{
    text-align: left;
    margin: 5%;
}
/*----------part 13---------*/
.section_13{
    width: 80%;
    margin: auto;
    background-color:  #f5f6fa;
    padding: 3% 5%;
    line-height: 1.5;
}


.section_13 p:last-of-type{
    font-weight: bold;
    color: #747d8c;
    margin-top: 10px;
    font-style: normal!important;;
}
.section_13 .headline p{
    color: black!important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px; 
    text-align: center;
    margin-bottom: 40px;
}
.section_13 .avatar{
    color: white!important;
    background-color: #93dea4;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #98dfa8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin-right: 5px;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
}

.section_13 .grid-container{  
    display: grid;
    grid-template-columns: auto;
    color:#a4b0be;
    font-style: italic;
}


.section_13 .grid-item p{
  margin-left: 50px;
}
.underline{
    border-bottom: 5px solid  #5f8efd;
    padding-bottom: 5px
   }
.grid-item{
    display: grid;
    grid-template-columns: 15% 85%;
    margin-bottom: 22px;
}
/*----------part 1---------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section_13 .grid-container{  
        grid-template-columns: auto auto;
        column-gap: 10px;
    }
    
    .section_13 .headline p{
        font-size: 26px; 
    }
    .grid-item{
        display: grid;
        grid-template-columns: 15% 85%;
        column-gap: 10px;
    }
    .section_13 .grid-item p{
        margin: 0 20px 20px 25px;
      }
}

@media only screen and (min-width: 992px) and (max-width: 1322px) {
    .section_13{
        width: 85%;
        margin: auto;
    }
    .section_13 .grid-container{  
        grid-template-columns: auto auto auto;
        column-gap: 10px;
    }
    
    .section_13 .headline p{
        font-size: 26px; 
    }
    .grid-item{
        display: grid;
        grid-template-columns: 15% 85%;
        column-gap: 5px;
    }
    .section_13 .grid-item p{
        margin: 0 60px 20px 30px;
      }
}
@media only screen and (min-width: 1323px) {
    .section_13{
        width: 67%;
        margin: auto;
    }
    .section_13 .grid-container{  
        grid-template-columns: auto auto auto;
        column-gap: 10px;
    }
    
    .section_13 .headline p{
        font-size: 26px; 
    }
    .grid-item{
        display: grid;
        grid-template-columns: 15% 85%;
        column-gap: 5px;
    }
    .section_13 .grid-item p{
        margin: 0 30px 20px 30px;
      }
    
}
